/*------------------
Reset
------------------*/
@font-face {
    font-family: AeonikMedium;
    src: url(../Font/Aeonik-Medium.otf);
}
@font-face {
    font-family: AeonikRegular;
    src: url(../Font/Aeonik-Regular.otf);
}
@font-face {
    font-family: AeonikBold;
    src: url(../Font/Aeonik-Bold.otf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
}
p{
    font-family: AeonikRegular !important;
}
p span{
    font-family: AeonikBold !important;
}
h2,h1,h3,h4{
    font-family: AeonikBold !important;
}
a{
    font-family: AeonikBold !important;
}
input{
    font-family: AeonikRegular !important;
}
input::placeholder{
    font-family: AeonikRegular !important;
}
body,html{
    width: 100%;
    overflow-x: hidden;
}


/*------------------
Global Style
------------------*/
.SectionTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 75px;
}
.SectionTitle h2{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 134.5%;
/* or 40px */
text-align: center;

color: #000000;
}
.SectionTitle p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 141%;
/* or 25px */

text-align: center;
width: 843px;
color: #000000;
margin-top: 22px;
}
/*------------------
Swiper
------------------*/
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .PartnerlerimizSwiper .swiper-slide img {
    display: block;
    width: auto;
    height: auto;
    object-fit: cover;
  }
/*------------------
Banner
------------------*/
#Banner{
    height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(218, 56, 49, 0.25) ,rgba(218, 56, 49, 0.25)),url(../images/zorlucenter_01\ 1.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    position: relative;
}
#Banner .BannerBackgroundImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#Banner .BannerBackgroundImageSwiper .swiper-slide{
    position: relative;
}
#Banner .BannerBackgroundImageSwiper .swiper-slide::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: linear-gradient(rgba(218, 56, 49, 0.25) ,rgba(218, 56, 49, 0.25));
}
/*------------------
Header
------------------*/
header{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition:all 500ms;
    margin-top: 22px;
}
header .DekstopNavCon .col-12{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .DekstopNavCon .col-12 .logo img{
    width: 87px;
    height: 87px;
}
header .DekstopNavCon .col-12 .NavListAndEnd{
    display: flex;
    align-items: center;
}
header .DekstopNavCon .col-12 .NavListAndEnd .NavList{
    margin-right: 20px;
}
header .DekstopNavCon .col-12 .NavListAndEnd .NavList ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
header .DekstopNavCon .col-12 .NavListAndEnd .NavList ul li{
    margin: 0 8px;
    transition: all 300ms;
}

header .DekstopNavCon .col-12 .NavListAndEnd .NavList ul li a{
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #000000;
}
header.HomePageHeader .col-12 .NavListAndEnd .NavList ul li a{
    color: #FFFFFF;
}
header .DekstopNavCon .col-12 .NavListAndEnd .NavEnd a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 187px;
height: 42px;
border: 1px solid  solid #DA3831;
background: #DA3831;
border-radius: 50px;
font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */

display: flex;
align-items: center;

/* text */

color: #E7E7E7;
transition: all 300ms;
}
header .DekstopNavCon .col-12 .NavListAndEnd .NavEnd a:hover{
    background: transparent;
    color: #DA3831;
}
header.HomePageHeader .DekstopNavCon .col-12 .NavListAndEnd .NavEnd a:hover{
    background: transparent;
    color: white;
}
header .MobileNav .col-12{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header.active{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:90px;
    background: white;
    margin: 0;
}
.MobileOpenMenu{
    position: fixed;
    top: 90px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1000 ;
    transition:all 500ms;
}
.MobileOpenMenu.active{
    left: 0;
}
.MobileOpenMenu .Content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.MobileOpenMenu .NavListAndEnd .NavList{
    margin-bottom: 20px;
}
.MobileOpenMenu .NavListAndEnd .NavList ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.MobileOpenMenu .NavListAndEnd .NavList ul li{
    margin: 10px 0px;
    transition: all 300ms;
}

.MobileOpenMenu .NavListAndEnd .NavList ul li a{
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #DA3831;
}
.MobileOpenMenu .NavListAndEnd .NavEnd a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 187px;
height: 42px;
border: 1px solid  solid #DA3831;
background: #DA3831;
border-radius: 50px;
font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */

display: flex;
align-items: center;

/* text */

color: white;
transition: all 300ms;
}
.MobileOpenMenu .NavListAndEnd .NavEnd a:hover{
    background: transparent;
    color: #DA3831;
}
/*------------------
Banner
------------------*/
#Banner .BannerBottom{
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
}
#Banner .BannerBottom .CardTextContent{
    padding: 15px 64px 32px 38px;
}
#Banner .BannerBottom .CardTextContent p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 141%;
/* or 25px */


color: #FFFFFF;
}
#Banner .BannerBottom .CardTextContent a{
    display: flex;
    align-items: center;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 141%;
/* identical to box height, or 23px */

margin-top: 25px;
color: #FFFFFF;
transition: all 300ms;
}
#Banner .BannerBottom .CardTextContent a:hover svg{
    margin-left: 15px;
}
#Banner .BannerBottom .CardTextContent a svg{
    margin-left: 10px;
    transition: all 300ms;
}
#Banner .BannerBottom .Content1{
    background: #DA3831;
}
#Banner .BannerBottom .Content2{
    background: #FFFFFF;
}
#Banner .BannerBottom .Content2 p,
#Banner .BannerBottom .Content2 a{
    color: #000000;
}
#Banner .BannerBottom .Content2 a svg path {
    fill: #000000;
}
#Banner .BannerBottom .Content3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid   rgba(255, 255, 255, 1) !important;
    height: 100%;
}
#Banner .BannerBottom .Content3 .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#Banner .BannerBottom .Content3 img{
    margin: 7px 0;
}
#Banner .BannerBottom .Content3 p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 141%;
/* or 25px */

text-align: center;

color: #FFFFFF;
}
#Banner .BannerBottom .Content1,
#Banner .BannerBottom .Content2{
    width: 40%;
    height: 100%;
}
#Banner .BannerBottom .Content3{
    width: 20%;
}
/*------------------
Features
------------------*/
#Features{
    padding: 111px 0;
}
#Features .row{
    position: relative;
}

#Features .Card{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Features .Card .Content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#Features .Card .Content .Top{
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    width: 100%;
}
#Features .Card .Content .Top{
    margin-top: 10px;
    margin-bottom:22px;
}
#Features .Card .Content .Top .TopIcon{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 129px;
height: 129px;
background: #DA3831;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
border-radius: 50%;
}
#Features.FeaturesEasyPointExpress .Card .Content .Top .TopIcon{
    width: 50px;
    height: 50px;
}
#Features .Card .Content .Top svg.iconHomePage{
    margin: auto;
    width: 65px;
    height: 65px;
}
#Features.FeaturesEasyPointExpress .Card .Content .Top svg.icon{
    margin: auto;
    width: 25.19px;
    height: 25.19px;
}
#Features .Card .Content .Top .arrow{
    position: absolute;
    top: 45%;
    right: 0;
}
#Features .Card .Content .Top .arrow2{
    top: 35%;
}
#Features.FeaturesEasyPointExpress .Card .Content .Top .arrow{
    position: absolute;
    top:24%;
    right: 0;
}

#Features.FeaturesEasyPointExpress .Card .Content .Top .arrow2{
    top:50%;
}
#Features .Line{
    position: absolute;
    top: 31.5%;
    left: 50%;
    transform: translateX(-50%);
}
#Features.FeaturesEasyPointExpress .Line{
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}

#Features .Card .Content p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;

font-size: 18px;
line-height: 134.5%;
/* or 24px */

text-align: center;

color: #000000;


}
#Features.FeaturesEasyPointExpress h3{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 134.5%;
/* or 24px */

text-align: center;

color: #000000;
}
#Features .Card .Content p span{
    font-weight: bold;
}
/*------------------
Shopping
------------------*/
#Shopping .col-12{
    margin-top: 20px;
}
#Shopping .SectionTitle a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 187px;
height: 42px;
border: 1px solid  solid #DA3831;
background: #DA3831;
border-radius: 50px;
font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */

display: flex;
align-items: center;

/* text */

color: #E7E7E7;
transition: all 300ms;
margin-top: 15px;
}
#Shopping .SectionTitle a:hover{
    background: transparent;
    color: #DA3831;
}
#Shopping .ImageCol{
    overflow: hidden;
    border-radius: 20px;
}
#Shopping .ImageCol img{
    width: 100%;
    height: 100%;
    transition: all 300ms;
    
}

#Shopping .TextCol .Content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#Shopping .TextCol .Content .Text{
    width: 397px;
    transition: all 300ms;
}

#Shopping .TextCol .Content .Text h3{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 134.5%;
/* identical to box height, or 27px */


color: #000000;
}
#Shopping .TextCol .Content .Text p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 134.5%;
    /* or 24px */
    
    margin-top: 11px;
    color: #000000;
}
#Shopping .TextCol .Content .Text p span{
    font-weight: bold;
}
#Shopping .TextCol-1 .Content .Circle{
    width: 130px;
    height: 130px;
    background: #DA3831;
    border-radius: 50%;
    margin-right: 30px;
    transition: all 300ms;
}
#Shopping .TextCol-1 .Content .Circle2{
    position: absolute;
    top: 20%;
    right:10%;
    width: 52px;
    height: 52px;
    background: #464646;
    transform: rotate(73.03deg);
    border-radius: 50%;
    transition: all 400ms;
}
#Shopping .TextCol-1 .Content:hover .Circle2{
    top: 80%;
    right: 20%;

}
#Shopping .TextCol-2 .Content .Circle{
    position: absolute;
    top: 25%;
    left: 8%;
    width: 50.92px;
    height: 50.92px;
    border: 1px solid   #DA3831;
    box-sizing: border-box;
    transform: rotate(93.86deg);
    border-radius: 50%;
    transition: all 500ms;
}
#Shopping .TextCol-2 .Content:hover .Circle{
    left: 50%;
    top: 70%;
}
#Shopping .TextCol-3 .Content .Circle{
    position: absolute;
    top: 20%;
    right:  8%;
    width: 99.01px;
    height: 99.01px;
    border: 1px solid   #DA3831;
    box-sizing: border-box;
    transform: rotate(93.86deg);
    border-radius: 50%;
    transition: all 500ms;
}
#Shopping .TextCol-3 .Content .Circle2{
    position: absolute;
    top: 0%;
    left:  2%;
    width: 29.8px;
    height: 29.8px;
    background: #464646;
    transform: rotate(93.86deg);
    border-radius: 50%;
    transition: all 500ms;
}
#Shopping .TextCol-3 .Content:hover .Circle{
    right: 50%;
    top: 70%;
}
#Shopping .TextCol-3 .Content:hover .Circle2{
    left: 90%;
    top: 20%;
}
/*------------------
Services
------------------*/
#Services{
    padding:55px 0;
    background: #FBFBFB;
    margin-top: 30px;
}
#Services .SectionTitle h2{
    width: 731px;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 134.5%;
/* or 27px */

text-align: center;

color: #000000;
}
#Services .SectionTitle p{
    width: 656px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 134.5%;
    /* or 24px */
    
    text-align: center;
    
    color: #000000;
}
#Services .CardRow .col-12{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Services .CardRow .col-12 .Card{
    margin: 0 5px ;
}
#Services .CardRow .col-12 .Card h3{
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 134.5%;
/* or 24px */


color: #000000;
margin: 15px  0 10px 0;
}
#Services .CardRow .col-12 .Card p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 134.5%;
/* or 19px */


color: #000000;

}
/*------------------
Express
------------------*/
#Express{
    position: relative;
    height: 500px;
    margin-top: 100px;
}
#Express .ExpressBG{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/Mask\ Group\ \(2\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#Express .Card{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding: 35px 33px;
    width:600px;
    
    filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.1));

}
#Express .Card h2{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 134.5%;
/* or 40px */

text-align: center;

color: #000000;
}
#Express .Card h4{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 134.5%;
/* or 27px */

text-align: center;

color: #000000;
margin: 24px 0 20px 0;
}
#Express .Card p{
    margin: 0;
    padding: 0;
    font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 134.5%;
/* or 24px */

text-align: center;

color: #000000;
margin-bottom: 14px;
}

#Express .Card  a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 222px;
    height: 53px;
border: 1px solid  solid #DA3831;
background: #DA3831;
border-radius: 50px;
font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */

display: flex;
align-items: center;

/* text */

color: #E7E7E7;
transition: all 300ms;
margin: 0 auto;
}
#Express .Card a:hover{
    background: transparent;
    color: #DA3831;

}
/*------------------
EasyAppBanner
------------------*/
#EasyAppBanner{
    margin-top: 42px;
}
#EasyAppBanner h2{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 134.5%;
/* or 40px */

text-align: center;

color: #000000;
}
#EasyAppBanner p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;

font-size: 18px;
line-height: 134.5%;
/* or 24px */

text-align: center;

color: #292929;
margin-top: 12px;
margin-bottom: 42px;
}
#EasyAppBanner p span{
    font-weight: bold;
}
#EasyAppBanner .DownloadLinks{
    display: flex;
    align-items: center;
    justify-content: center;
}
#EasyAppBanner .DownloadLinks a{
    margin: 0 10px;
}
#EasyAppBanner .AppImgCol{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
#EasyAppBanner .AppImgCol .AppImgDiv{
    width: 824px;
    height: 463px;
    background: black;
}
#EasyAppBanner .AppImgCol .AppImgDiv img{
    width: 100%;
    height: 100%;
}
/*------------------
MapSection
------------------*/
#MapSection{
    margin-top: 150px;
    background-image: url(../images/hlast.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#MapSection .Card{
    width: 300px;
    background: #DA3831;
    padding: 50px 37px;
    margin-left: 40px;
}
#MapSection .Card h3{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 134.5%;
/* or 24px */


color: #FFFFFF;
}
#MapSection .Card p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 143.5%;
/* or 26px */


color: #FFFFFF;
margin: 16px 0 23px 0;
}
#MapSection .Card a{
    display: flex ;
    align-items: center ;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 134.5%;
/* identical to box height, or 22px */



color: #FFFFFF;
}
#MapSection .Card a svg{
    margin: 0;
    padding: 0;
    margin-left: 8px;
    transition: all 300ms;
}
#MapSection .Card a:hover svg{
    margin-left: 15px;
}
/*------------------
ExpressNoktasiBanner
------------------*/
#ExpressNoktasiBanner{
    height: 550px;
}

#ExpressNoktasiBanner .left{
    display: flex;
    align-items: center;
    justify-content: center;

}
#ExpressNoktasiBanner .left h3{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 134.5%;
/* or 54px */


color: #000000;
}
#ExpressNoktasiBanner .left p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 142%;
/* or 26px */


color: #000000;
margin: 13px 0 33px 0;
}
#ExpressNoktasiBanner .left a{
    display: flex;
    align-items: center;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 142%;
/* identical to box height, or 23px */


color: #DA3831;
}
#ExpressNoktasiBanner .left a svg{
    margin-left: 10px;
    transition: all 300ms;
}
#ExpressNoktasiBanner .left a:hover svg{
    margin-left: 15px;
}
#ExpressNoktasiBanner .left a svg path{
    fill: #DA3831;
}
#ExpressNoktasiBanner .right{
    position: relative;
}
#ExpressNoktasiBanner .right .ImageDiv1{
    width: 366.41px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 15px solid #DA3831;
}
#ExpressNoktasiBanner .right .ImageDiv1 img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
#ExpressNoktasiBanner .right .ImageDiv2{
    width:230px;
    height: 230px;
    position: absolute;
    top: 1%;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 15px solid #DA3831;
}
#ExpressNoktasiBanner .right .ImageDiv2 img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
#ExpressNoktasiBanner .right .ImageDiv3{
    width:260px;
    height: 260px;
    position: absolute;
    bottom: 5%;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 15px solid #DA3831;
}
#ExpressNoktasiBanner .right .ImageDiv3 img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
/*------------------
Form
------------------*/
#Form{
    padding: 55px 0;
    background: #fbfbfb;
}
#Form .Left{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Form .Left .Circle1{
    position: absolute;
    left: 0;
    top: 10%;
    width: 50.92px;
height: 50.92px;
border: 1px solid  solid #DA3831;
box-sizing: border-box;
transform: rotate(93.86deg);
border-radius: 50%;
z-index: 1;
}
#Form .Left .Circle2{
    position: absolute;
    left: 4%;
    top: 20%;
    width: 47px;
    height: 47px;
    background: #DA3831;
border-radius: 50%;
z-index: 1;
}
#Form .Left .Content{
    padding: 60px;
    background: #FFFFFF;
    border-radius: 10px;
    width: 90%;
    z-index: 100;
}
#Form .Left .Content h3{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 142%;
/* or 28px */


color: #000000;
text-align: center;
margin-bottom: 25px ;
}
#Form .Left .Content p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.045em;

color: #3D3D3D;
margin-bottom: 10px;
}
#Form .Left .Content input{
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
    background: #F7F7F7;
border-radius: 10px;
margin-bottom: 30px;
padding: 0 15px;
color: #C6C7CD;
}
#Form .Left .Content input::placeholder{
    font-family: Aeonik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.045em;

color: #C6C7CD;
}
#Form .Left .Content select{
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
    background: #F7F7F7;
border-radius: 10px;
margin-bottom: 30px;
padding: 0 15px;
color: #C6C7CD;
}
#Form .Left .Content p.LastText{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 177.69%;
/* or 21px */

letter-spacing: 0.045em;

color: #989EB0;
padding: 25px 0;
}
#Form .Left .Content p.LastText span{
    font-weight: bold;
    color: #000000;
}
#Form .Left .Content button{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: #DA3831;
    border: 1px solid  solid #DA3831;
border-radius: 50px;
font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */
transition: all 300ms;

color: #E7E7E7;
}
#Form .Left .Content button:hover{
    background: transparent;
    color: #DA3831;
}
#Form .Right .Content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
#Form .Right .Content .Circle1{
    position: absolute;
    top: 0;
    right: 15%;
    width: 40px;
    height: 40px;
    background: #464646;
    transform: rotate(73.03deg);
    border-radius: 50%;
}
#Form .Right .Content .Circle2{
    position: absolute;
    top: 15%;
    right: 0%;
    width: 50px;
    height: 50px;
    background: #DA3831;
    transform: rotate(73.03deg);
    border-radius: 50%;
}
#Form .Right .Content .Circle3{
    position: absolute;
    bottom: 5%;
    right: 0%;
    width: 99.01px;
    height: 99.01px;
    border: 1px solid  solid #DA3831;
    box-sizing: border-box;
    transform: rotate(13.24deg);
    
    border-radius: 50%;
}
#Form .Right .Content .Card{
    width: 351px;
    margin-bottom: 110px;
}
#Form .Right .Content .Card h3{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 142%;
/* identical to box height, or 26px */


color: #000000;
margin: 0px 0 6px 0;
}
#Form .Right .Content .Card p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 142%;
/* or 23px */


color: #000000;
}
/*------------------
Explanation
------------------*/
#Explanation{
    background: #DA3831;
    padding: 50px 0;
}
#Explanation .col-12{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Explanation .col-12 .left h3{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;
margin: 5px 0;
}
#Explanation .col-12 .left p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;
margin: 5px 0;
}
#Explanation .col-12 .right{
    display: flex;
    align-items: center;
    justify-content: center;

}
#Explanation .col-12 .right a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 235px;
height: 53.02px;
background: #FFFFFF;
border: 1px solid #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 134.5%;
/* identical to box height, or 22px */
transition: all 300ms;
display: flex;
align-items: center;

color: #181818 ;
}
#Explanation .col-12 .right a:hover{
    background: transparent;
    color: white;
}
/*------------------
Freedom
------------------*/
#Freedom{
    margin: 160px 0;
}
#Freedom .left{
    border-radius: 20px;
}
#Freedom .left img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
#Freedom .right .col-12{
    margin: 40px 0;
}
#Freedom .right .Content h3{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 134.5%;
    /* or 24px */


    color: #000000;
}
#Freedom .right .Content p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 134.5%;
    /* or 22px */


    color: #000000;
    margin-top: 5px;
}
/*------------------
EarthImage
------------------*/
#EarthImage{
    padding: 80px 0;
}
#EarthImage .col-12{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------------
UserStories
------------------*/
#UserStories{
    padding: 50px 0;
}
#UserStories .UserStorySwiper{
    padding-bottom:50px;
}
#UserStories .UserStorySwiper .swiper-pagination-bullet-active{
    background: #7D7D7D;
}
#UserStories .SlideCol .Content{
    display: flex;
    align-items: center;
    background: #FFFFFF;
box-shadow: 0px 5px 10px rgba(190, 190, 190, 0.25);
border-radius: 0px 20px 20px 0px;
height: 200px;
width: 100%;
}
#UserStories .SlideCol .Content .left{
    height: 100%;
    width: 40%;
}
#UserStories .SlideCol .Content .right{
    width: 60%;
}
#UserStories .SlideCol .Content .right > div{
    padding: 0 30px;
}
#UserStories .SlideCol .Content .left img{
    height: 100%;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}
#UserStories .SlideCol .Content .right h3{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.015em;

color: #000000;
text-align: start;
}
#UserStories .SlideCol .Content .right h4{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.015em;

color: #575656;
margin-bottom: 27px;
text-align: start;
}
#UserStories .SlideCol .Content .right  p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.005em;

color: #575656;
text-align: start;
}
/*------------------
ServicePointSection
------------------*/
#ServicePointSection{
    margin-top: 10px;
    height: 100vh;
    background: blue;
    position: relative;
}
#ServicePointSectionResponsive{
    display: none;
    height: 100vh;
    background: blue;
    margin-top: 10px;
    position: relative;
}
#ServicePointSection > .Content{
    height: 100%;
}
#ServicePointSection .LeftContent{
    margin-left: 100px;
    background: white;
    width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 20px  60px 10px;
    box-shadow: 0px 1px 10px rgba(170, 170, 171, 0.25);
}
#ServicePointSection .LeftContent h2{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.045em;
    padding: 0 20px 0 10px;
    color: #3D3D3D;
}
#ServicePointSection .LeftContent .SelectsDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    padding: 0 20px 0 10px;
}
#ServicePointSection .LeftContent .SelectsDiv #KabinHizmeti{
    margin-top: 10px;
}
#ServicePointSection .LeftContent .SelectsDiv select{
    outline: none;
    width: 100%;
    height: 50px;
    background: #F8F8F8;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.045em;

color: #3C4257;

opacity: 0.6;
padding: 0 20px;
}
#ServicePointSection .LeftContent .Places{
    width: 100%;
    margin-top: 45px;
    overflow-y: scroll;
    overflow-x: hidden;

    position: relative;
    padding: 0 10px 0 10px;
}
#ServicePointSection .LeftContent .Places::before{
    content: "";
    position: fixed;
    width: 5px;
    height: 100%;
    right: 0px;
    top: 0;
    background: #E7E7E7;
}
#ServicePointSection .LeftContent .Places::-webkit-scrollbar{
    width: 5px;
    background: transparent;
    
}
#ServicePointSection .LeftContent .Places::-webkit-scrollbar-thumb{
   border-radius: 20px;
    background: black;
}
#ServicePointSection .LeftContent .Places ul{
    width: 100%;
    margin: 0;
    padding: 0;
    
}
#ServicePointSection .LeftContent .Places ul li{
    width: 100%;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 10px rgba(170, 170, 171, 0.25));
    border-radius: 10px;
    margin-top: 10px;
    padding: 0 20px;
}
#ServicePointSection .LeftContent .Places ul li .left p,
#ServicePointSection .LeftContent .Places ul li .left h3{
    margin: 0;
    padding: 0;
}
#ServicePointSection .LeftContent .Places ul li .left h3{
    
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.045em;

color: #000000;

}
#ServicePointSection .LeftContent .Places ul li .left p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.045em;
    
    color: #000000;
    margin-top: 10px;
}
#ServicePointSection .RightContent{
    position: absolute;
    top: 20px;
    right: 50px;
    width: 313px;
    height: 197px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
#ServicePointSection .RightContent h2{
    margin: 0;
    padding: 0;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.045em;

color: #000000;
}
#ServicePointSection .RightContent p{
    margin: 0;
    padding: 0;
    margin-top: 15px;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.045em;

color: #000000;
}
#ServicePointSection .RightContent p svg{
    margin-right: 5px;
}
#ServicePointSection .RightContent a{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.045em;

color: #000000;
}
#ServicePointSection .RightContent a svg{
    transition: all 300ms;
}
#ServicePointSection .RightContent a svg path {
    fill: #000000;
    margin-left: 5px;
}
#ServicePointSection .RightContent a:hover svg{
    margin-left: 10px;
}
/*------------------
footer
------------------*/
footer{
    background: #CD433B;
    padding-top: 55px;
    margin-top: 100px;
}
footer.HizmetNoktalariFooter{
    margin-top: 0;
}
footer.HomePageFooter{
    margin-top: 0px;
}
footer .TopFooter .LeftCol img{
width: 90px;
height: 90px;
}
footer .TopFooter .LeftCol p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 134.5%;
/* or 22px */


color: #FFFFFF;
margin: 10px 0;
}
footer .TopFooter .LeftCol .SocilaMedias ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
footer .TopFooter .LeftCol .SocilaMedias ul li {
    margin-right: 10px;
}
footer .TopFooter .ContactCol{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer .TopFooter .ContactCol > div div:nth-child(1){
    margin-bottom: 33px;
}
footer .TopFooter .ContactCol h3{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.015em;

color: #FFFFFF;
}
footer .TopFooter .ContactCol p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.015em;

color: #E6B3B3;
}
footer .TopFooter .FooterList{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .TopFooter .FooterList ul{
    margin: 0;
    padding: 0;
}
footer .TopFooter .FooterList ul li{
    margin: 8px 0;
    transition: all 300ms;
}
footer .TopFooter .FooterList ul li:hover{
    transform: translateX(5px);
}
footer .TopFooter .FooterList ul li a{
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.015em;

color: #FFFFFF;
}
footer .TopFooter .FooterEnd{
    display: flex;
    align-items: center;
    justify-content: center;
  
}
footer .TopFooter .FooterEnd h3{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.015em;

color: #FFFFFF;
}
footer .TopFooter .FooterEnd p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.015em;

color: #E5B3B3;
margin: 14px 0 24px 0;
}
footer .FooterBottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 55px 0;
}
footer .FooterBottom p{
    margin: 0;
    padding: 0;
    font-family: Aeonik;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
text-align: center;
letter-spacing: 0.015em;

color: #E5B3B3;
}
/*------------------
Medias
------------------*/
@media  (max-width:1390px) {
    #Features .Card .Content .Top .arrow{
        position: absolute;
        top: 40%;
        right: 0;
    }
    #Features .Card .Content .Top .arrow2{
        top: 40%;
    }

}
@media (min-width:992px){
    header .MobileNav{
        display: none;
    }
    #ExpressNoktasiBanner .container,
#ExpressNoktasiBanner .container .row,
#ExpressNoktasiBanner .container .row .col-12{
    height: 100%;
}
}
@media (max-width:992px) {
    header{
        position: absolute;
        width: 100%;
    }
    header .DekstopNavCon{
        display: none;
    }
    #Banner .BannerBottom .Content3{
        background: #111;
        padding: 10px 0;
    }
    #Banner .BannerBackgroundImage{
        position: relative;
        height: 70vh;
    }
    .SectionTitle p{
        width: 600px;
    }
    #Features .Line{
        display: none;
    }
    #Features .Card .Content .Top .arrow{
        display: none;
    }
    #Features .Card{
        margin-top: 20px;
    }
    #Shopping .ImageCol img{
        height: 400px;
        width: 100%;
    }
    #Shopping .TextCol-1{
        margin: 20px 0 40px 0;
    }
    #Shopping .TextCol-1 .Content .Circle2{
        right: 5%;
    }
    #Shopping .TextCol-1 .Content:hover .Circle2{
        top: 85%;
    }
    #Shopping .TextCol-2 .Content:hover .Circle{
        left: 90%;
    }
    #Shopping .TextCol-3 .Content:hover .Circle{
        right: 85%;
        top: 60%;
    }
    #Services .CardRow .col-12{
        flex-wrap: wrap;
    }
    #Services .CardRow .col-12 .Card{
        margin: 20px 0;
    }
    #ExpressNoktasiBanner{
        height: 100%;
    }
    #ExpressNoktasiBanner .right{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #ExpressNoktasiBanner .right .ImageDiv1{
        position: relative ;
        top: 0 ;
        left: 0;
        transform: translate(0,0);
        margin-right: 5px;
    }
    #ExpressNoktasiBanner .right .ImageDiv2{
        position: relative ;
        top: 0 ;
        left: 0;
        transform: translate(0,0);
        margin-right: 5px;
    }
    #ExpressNoktasiBanner .right .ImageDiv3{
        position: relative ;
        top: 0 ;
        left: 0;
        transform: translate(0,0);
    }
    #Form .Right{
        padding-top: 50px;
    }
    #Shopping .TextCol-2{
        order: 2;
        margin-top: 20px;
    }

    #Shopping .ImageCol2{
        order: 1;
    }
    #Shopping .TextCol-3 .Content .Circle{
        width: 40px;
        height: 40px;
    }
    #ServicePointSection{
        background: none;
        background-image: none;
        height: 100%;
    }
    #ServicePointSection .LeftContent{
        margin-left: 0;
        margin: 0 auto;
        height: 100vh;
    }
    #ServicePointSectionResponsive{
        display: block;
    }
    #ServicePointSection .RightContent{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    footer .TopFooter .FooterList{
        justify-content: flex-start;
        margin-top: 15px;
    }
    footer.HizmetNoktalariFooter{
        margin-top: 30px;
    }
    footer .TopFooter .ContactCol{
        align-items: flex-start;
    }
}
@media (max-width:640px){
    #Banner .BannerBottom .Content1, #Banner .BannerBottom .Content2{
        width: 100%;
    }
    #Banner .BannerBottom .Content3{
        width: 100%;
    }
    #Banner .BannerBottom{
        flex-direction: column;
    }
    #Banner{
        height: 100%;
    }
    .SectionTitle p{
        width: 100%;
    }
    #Shopping .TextCol-1 .Content .Circle2{
        top: 0;
        right: 0;
    }
    #Shopping .TextCol-1 .Content:hover .Circle2{
        top: 90%;
    }

    #Shopping .TextCol-2 .Content .Circle{
        top: 0;
        left: 40%;
        width: 40px;
        height: 40px;
    }
    #Shopping .TextCol-2 .Content:hover .Circle{
        top: 83%;
        left: 75%;
    }
    #Shopping .TextCol-3 .Content .Circle2{
        left: 50%;
    }
    #Shopping .TextCol-3 .Content .Circle{
        width: 40px;
        height: 40px;
        top: 85%;
    }
    #Shopping .TextCol-3 .Content:hover .Circle2{
        top: 0;
    }
    #Shopping .TextCol-3 .Content:hover .Circle{
        top: 87%;
        right: 60%;
    }
    #Services .SectionTitle h2,
    #Services .SectionTitle p{
        width: 100%;
    }
    #Services .CardRow .col-12 .Card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }


    #Banner .BannerBottom{
        margin-top: 0px;
    }
    #MapSection .Card{
        margin: 0;
    }
    #ExpressNoktasiBanner .right{
        flex-direction: column;
    }
    #ExpressNoktasiBanner .right > div{
        margin: 15px 0;
    }
    #Form .Left .Content{
        width: 98%;
        padding: 50px 20px;
    }
    #Form .Right .Content .Circle2{
        top: 20%;
    }
    #Form .Right .Content .Circle3{
        bottom: 2%;
        right: 2%;
    }
    #Explanation .col-12{
        flex-direction: column;
    }
    #Explanation .col-12 .right{
        margin-top: 15px;
    }
    #EarthImage .col-12 img{
        width: 100%;
    }
    #UserStories .SlideCol .Content .right > div{
        padding: 0 10px;
    }
    #Express .Card{
        width: 90%;
        right: auto;
        left: 50%;
        transform: translate(-50%,-50%);
    }


    footer .TopFooter  .col-12{
        margin-top: 20px;
    }
}